$red-color-text: maroon;
$yellow-color-text: yellow;
.hello-world-button {
  font-size: 14px;
  color: $red-color-text;
  background-color: $yellow-color-text;
}
.hello-world-text {
  background-color: aliceblue;
  color: black;
}
